.container {
  padding: 0 2rem;
  position: relative;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 500;
  width: 100%;
  height: 100%;
}

.main {
  min-height: 100vh;
  padding: 3rem 0rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 900;
  position: relative;
}

.brand {
  margin-bottom: .9375rem;
}

.logo {
  margin-bottom: 0.625rem;
}

.brand div h1, .brand div h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  margin: 0.3125rem 0rem;
}

.brand div h1 {
  color: #F3A8C2;
}

.brand div h2 {
  color: #a4ebe5;
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}

.buttons a {
  color: #7E4FA8;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-bottom: .9375rem;
  transition: transform .2s ease-in-out;
}

.buttons a:hover {
  transform: translateY(-5px);
}

.buttons a img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
}

.buttons a p {
  position: relative;
  z-index: 2000;
  color: #7E4FA8;
  padding: 0px 15px;
}

/* APUNTES BONITODS */
/* DIBUJITOS */

.footer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 900;
}

.footer p {
  text-transform: uppercase;
  color: #F3A8C2;
}

@media only screen and (min-width: 500px) {
  .buttons {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) {
  .background {
    display: none;
  }

  .brand {
    margin-bottom: 2.5rem;
  }

  .buttons a {
    margin-bottom: 2.5rem;
  }

  .container {
    background-color: rgb(235,244,168)
  }

  
  .buttons {
    width: 20%;
  }
}